/* <!-- ======= About Section ======= --> */


@font-face {
  font-family: "BlackHanSans-Regular";
  src: url(../assets/fonts/BlackHanSans-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #0B0518;
  font-size: 1rem;
  letter-spacing: 0px;
  color: #FFFFFF;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "BlackHanSans-Regular";

}

p {
  font-family: "Montserrat";
}

h1 {
  font-size: 60px;
  font-weight: 400;
}

h2 {
  font-size: 32px;
  font-weight: 400;
}

h3 {
  font-size: 28px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.13px;
}

h5 {
  font-size: 16px;
  font-weight: bold;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.home-btn-btn {
  background: transparent;
  color: #FFFFFF;
  border-radius: 30px;
  padding: 3px 3px 3px 7px;
  font-size: 1rem;
  line-height: 1.6;
  border: 2px solid #FFFFFF;
  text-decoration: none;
  display: inline-block;
}


/* ================== Navbar ================== */
.navbar {
  padding: 20px 0;
}

.navbar .nav-item .nav-link,
.navbar .nav-item .nav-link.active {
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0 30px;
}

.fa-arrow-right,
.fa-brands {
  background: #FFFFFF;
  border-radius: 50%;
  color: #0B0518;
}

.fa-arrow-right {
  padding: 7px;

}

.fa-brands {
  padding: 7px 8px;
  font-size: 1rem;
}

.banner-wrapper {
  padding: 90px 0;
}

/* =================== card-wrapper ============ */
.card-wrapper {
  padding: 50px 0 30px;
}

.bg-box {
  background: #0B0518;
  border: 2px solid #FFFFFF12;
  padding: 8px 0;
  border-radius: 10px;

}

.card-box {
  border: 2px solid #FFFFFF45;
  border-radius: 10px;
  padding: 25px 25px 10px;
}

.card-box p {
  color: #BCBCBC;
}


.bg-border h4 {
  color: #FFFFFF !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-border h4:before {
  content: "";
  width: 100%;
  height: 2px;
  background: transparent linear-gradient(270deg, #FFFFFF 0%, #80808000 100%) 0% 0% no-repeat padding-box;
  margin: 0 10px 0 0;
}

.bg-border h4:after {
  content: "";
  width: 100%;
  height: 2px;
  background: transparent linear-gradient(-270deg, #FFFFFF 0%, #80808000 100%) 0% 0% no-repeat padding-box;
  margin: 0 0 0 10px !important;

}


.orb-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  background: #80808000 !important;
  /* background: -webkit-linear-gradient(to right, #80808000,  #400475, #80808000); */
  background: linear-gradient(to right, #80808000, #400475, #80808000);
}


/* ============== about-wrapper =========== */
.about-wrapper {
  padding: 50px 0;
}

.team-wrapper {
  padding: 60px 0 50px;
}

.team-wrapper .team-img {
  border-radius: 6px;
}

.team-top-div {
  position: relative;
}

.realtor-logo {
  position: absolute;
  right: 40px;
  top: -37px;
}

.faq-wrapper {
  padding: 30px 0 80px;
}

.faq-list {
  border-radius: 0px;
  margin-bottom: -0.125rem;
}


.faq-list li {
  padding: 0.75rem 0.938rem;
}

.faq-list a {
  display: block;
  position: relative;
  padding-right: 1.563rem;
  cursor: pointer;
}


.faq-list .fas {
  display: inline-flex;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0.313rem;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  padding: 3px;
  font-size: 6px;
  color: #FFFFFF;
}

.faq-list h6 {
  font-size: 1rem;
  color: #FFFFFF;
  margin-bottom: 0;
}

.faq-list p {
  margin-bottom: 0;
  padding: 1rem 8px;
  color: #FFFFFF;
  text-align: start;

}

.faq-list .icon-show {
  display: none;
}

.faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width : 1024px) {
  .realtor-logo {
    position: absolute;
    right: -44px;
  }

}

@media (max-width : 912px) {
  .realtor-logo {
    position: absolute;
    right: 73px;
    top: -36px;
  }

}

@media (max-width : 525px) {
  h1 {
    font-size: 50px;
  }

  .realtor-logo {
    display: none;
  }

  .home-btn-btn {
    font-size: 0.6rem;
    padding-bottom: 4px;
  }

  .fa-arrow-right {
    padding: 6px;

  }

  .fa-brands {
    padding: 5px 7px;
  }

}



/* ============ footer-wrapper ============= */
.footer-wrapper {
  padding: 120px 0 100px;
}